<%= render :partial => '/common/categories', :locals => {:categories => @categories } %>
<%= render :partial => 'trash' %>

<h2>Edit Cart</h2>
<span id="edit_cart_table">
  <%= render :partial => 'edit_cart_table'%>
</span>