<% cart = session[:cart] %>
<% unless cart.empty? %>
	<ul>
	<% cart.products.each_pair do |product, amount| %>
		<li><%= amount%> x <%= product.title %></li>
	<% end %>
	<ul>
	Total: <%= curr cart.total %>
	<br/>
	<%= link_to "Edit", { :controller => :cart, :action => :edit_cart }, { :method => :post } %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>