<% content_for :col1 do %>
<h2>Categories</h2>
<ul>
	<% @categories.each do |category| %>
		<li><%= link_to category.title, :controller => :frontend, :category_id => category.id %></li>
	<% end %>
</ul>
<% end %>